.clear{ clear: both; padding-top: 8px;}
.commentBodyLeft, .boxBody{border-right: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; margin-right:0px; margin-left:0px; margin-top:0px; margin-bottom:0px;}
.current fieldset img{float:none;}
.icon-48-icon-48-social{background-image:url(../images/icon-48-social.png)!important;}
.icon-reset{background:url(../images/social-reset.png) no-repeat center !important;}
.invalid{border-color:red;}
.plug_enabled{color:green;}
.plug_disabled{color:red;}
.setting-td{width:50%;}
.setting-td input, .setting-td label{display:inline; float:none;}
.tbBottomMiddle{border-right: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; padding:0pt;}
.tbTitleMiddle{background:none repeat scroll 0 0 #F0F0F0; border-left: 1px solid #F0F0F0; border-right: 1px solid #F0F0F0; padding:3px 1px;}
.tbTitleMiddle h5, .tbTitleMiddleRed h5{color: #666666; font-size:120%; margin:0px; padding:2px 10px; overflow:none; text-align: left; vertical-align: middle;}
.titleComment, .tbTitle{border-collapse:collapse; border-spacing:0pt 0pt; line-height:20px; color:#000000;width:100%; margin-top:10px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;}
span.latestbutton{color:#0B55C4;cursor: pointer;}
span.latestbutton:hover{text-decoration:underline;}

.tjDB body {
background-color: #f8f8f8;
}

.tjDB #page-wrapper {
padding: 0 15px;
min-height: 568px;
background-color: #fff;
}
@media (min-width: 768px) {
.tjDB #page-wrapper {
position: inherit;
padding: 0 30px;
}
}

.tjDB .huge {
/*font-size: 40px;*/ font-size: 1.3em; /*^manoj*/
font-weight: bold; /*+manoj*/
margin-bottom: 5px; /*+manoj*/
}
.tjDB .panel-green {
border-color: #5cb85c;
}
.tjDB .panel-green .panel-heading {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
.tjDB .panel-green a {
color: #5cb85c;
}
.tjDB .panel-green a:hover {
color: #3d8b3d;
}
.tjDB .panel-red {
border-color: #d9534f;
}
.tjDB .panel-red .panel-heading {
border-color: #d9534f;
color: #fff;
background-color: #d9534f;
}
.tjDB .panel-red a {
color: #d9534f;
}
.tjDB .panel-red a:hover {
color: #b52b27;
}
.tjDB .panel-yellow {
border-color: #f0ad4e;
}
.tjDB .panel-yellow .panel-heading {
border-color: #f0ad4e;
color: #fff;
background-color: #f0ad4e;
}
.tjDB .panel-yellow a {
color: #f0ad4e;
}
.tjDB .panel-yellow a:hover {
color: #df8a13;
}

.tjDB .panel-purple-blue-marguerita {
border-color: #8175C7;
}
.tjDB .panel-purple-blue-marguerita .panel-heading {
border-color: #8175C7;color: #fff;background-color: #8175C7;
}
.tjDB .panel-purple-blue-marguerita a {
color: #8175C7;
}
.tjDB .panel-purple-blue-marguerita a:hover {
color: #8175C7;
}

.tjDB .panel-spring-green {
border-color: #808000;
}
.tjDB .panel-spring-green .panel-heading {
border-color: #808000;color: #fff;background-color: #808000;
}
.tjDB .panel-spring-green a {
color: #808000;
}
.tjDB .panel-spring-green a:hover {
color: #808000;
}

.tjDB .panel-burnt-orange {
border-color: #A52A2A;
}
.tjDB .panel-burnt-orange .panel-heading {
border-color: #A52A2A;color: #fff;background-color: #A52A2A;
}
.tjDB .panel-burnt-orange a {
color: #A52A2A;
}
.tjDB .panel-burnt-orange a:hover {
color: #A52A2A;
}

.tjDB .label-info {
background-color: #428bca;
}

.tjDB .i-document {color:#428bca;}
.tjDB .i-question {color:#428bca;}
.tjDB .i-support {color:#dd4b38;}
.tjDB .i-horn {color:#3b5998;}
.tjDB .i-facebook {color:#3b5998;}
.tjDB .i-twitter {color:#55acee;}
.tjDB .i-google {color:#dd4b38;}
/*+manoj - end*/

.tjDB .form-inline .form-control {
max-width: 100px;
}

.jt-dashboard-calender{
min-height:35px!important;
max-width:90px!important;
}

.tjDB .panel-text-min-height-50 {
    min-height: 50px;
}
