<div class="cal-month-day <%= cls %>" >
	<div data-toggle=""><span class=""   data-cal-date="<%= data_day %>" data-cal-view="day"  title="<%= tooltip %>"><%= day %></span></div>
		<% if (events.length > 0) { %>
		<div class="wrapper" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" target="_blank" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class=" pull-left" data-toggle=""
					title="<%= event.event_time%>"><div style="background-color: <%= event.background_color%>; font-size:0.85em;color:#fff;padding:0px;"><span><%= event.title %></span></div></a><br/>
			<% }); %>
		</div>
	<% } %>
</div>
