		.btn-twitter {
			padding-left: 30px;
			background: rgba(0, 0, 0, 0) url(https://platform.twitter.com/widgets/images/btn.27237bab4db188ca749164efd38861b0.png) -20px 6px no-repeat;
			background-position: -20px 11px !important;
		}
		.btn-twitter:hover {
			background-position:  -20px -18px !important;
		}
.toggle-header{
    padding:10px 0;
    margin:10px 0;
    background-color:black;
    color:white;
}
.txt-green{
    color:green;
}
.txt-red{
    color:red;
}
.navbar-brand
{
	float : none;
}
.fixed {position:fixed; top:0; left:0; z-index:2; width:100%;}
.container{
	width: 100% !important;
}
.modal
{
  position: initial !important;
display : block !important;

}
.cal-cell1
{
display : block !important;
}
.input-group .form-control {
    z-index: 1 !important;
}
input[type="text"]{height:30px;}
.search_b{margin-top:0px;}
.clear_b{height: 30px;}

.btn-small-jt{
margin-right:1px !important;
height: 28px !important;
text-align:center !important;
width: 32px !important;

}

#month_button{
height: 22px !important;
text-align:center !important;
margin-right:1px !important;


}


.rt_align{
float : right !important;
}


