.noborder th,.noborder td{
	border:0px!important;
}

.td_amt{
	width:50%;
	font-size:9px;
	text-align: right!important;
}
.td_amt_right{
	width:50%;
	font-size:9px;
	text-align: right!important;
}
#button-div{
	width:90%;
}
#prgressbar-div{
	width:65%;
	float:right;
}
#containerdiv{
	width:100%;
}
#image-div{
	width:30%;
	float:left;
}
.amount_lable{
	text-align:right !important;
	float:left;
}
.amount_data{
	text-align:right !important;
	width:50%;
	float:right;
}
.div_padding{
	padding:8px;
}
.div_show_amount{
	font-size:
	10px;width:69%;
	float:right;
}

.jticketing_pin_item .thumbnail{border-radius: 0px !important;}
/*
.show_amount_on{
	margin-top:10%;
}
.show_amount_off{
	margin-left:50%;
	margin-top:-10%;
}
*/
.bg-center {
background-position: center center !important;;
}

.bg-repn{
background-repeat: no-repeat !important;
}

.bg-cover {
background-size: cover !important;
}
