.icon-48-events {
	background-image: url(../images/l_events.png);
	padding-left:60px!important;
}

.icon-48-event {
	background-image: url(../images/l_events.png);
	padding-left:60px!important;
}

.jticket_row_head{
	background-color:#D1D1B0;
}

.icon-48-icon-48-jticketing{
   background-image: url("../images/icon-48-jticketing.png") !important;
}

.icon-48-eb{
	background-image:url(../images/eb_icon_48.png)!important;
}

.jtright{
	float:right;
}

.jtleft{
	float:left;
	padding-top:5px;
}

.setting-td input, .setting-td label{
	display: inline !important;
	float: none !important;
}

.com_jticketing_img_48_48{
	height:48px!important;width:48px!important;
}
.com_jticketing_img_72_72{
	height:72px!important;width:72px!important;
}

.com_jticketing_img_96_96{
	height:96px!important;width:96px!important;
}

.com_jticketing_img_128_128{
	height:128px!important;width:128px!important;
}

/*custom elements style*/
.jticketing_div_outer{
clear:both;float:left;background-color:#AED300;width:100%;
}
.jticketing_div_inner{
padding: 5px 5px;font-weight:bold;color:black;
}

@media {
.table-responsive {
width: 100%;
margin-bottom: 15px;
}
}

.jticketHeaderOuterDiv{clear:both;float:left;background-color:#ADD8E6;width:100%;}
.jticketInnerDiv{padding:5px 5px;font-weight:bold;color:black;}
.jticket-elements-legend-hint{clear:both; float:left; color:#000 !important; opacity: 0.65; font-size: 1.2em !important;}
.jticket-elements-legend{display: block; width: 100%; padding: 0; margin-bottom: 18px; font-size: 19.5px; line-height: 36px; color: #333; border: 0; border-bottom: 1px solid #e5e5e5;}
.jticket-elements-gateways-link{clear:none; float:left;}
#component-form .control-label {width: 250px !important;}
/*For J2.5.x*/
#component-form div.current label, div.current span.faux-label {min-width: 250px !important;}
#component-form div.current fieldset.radio label {min-width: 45px !important;}
.ticket_type_available_field_hide{display:none}
.jticketing_latest_version_number{
font-size:18px;
}
@media print {
   .no-print {
    display: none !important;
  }
  .only-in-print{
	display: block !important;
  }
}

.media_image_width{
	width: 250px;
	height: 150px;
}
.media_video_width{
	width: 158px;
    height: 116px;
}
/*====Administrator======*/
#jtwrap .modal .modal-header{
overflow: hidden ;
}

.basicDetails__desc .mce-edit-area {
	height: 180px;
	overflow: auto;
}

.jticketing-tbl{
    overflow-x: scroll;
}
@media screen and (min-width: 640px) {
	.d-inline-block {
		display: inline-block;
	}
	.ml-15 {
		margin-left: 15px;
	}
}
.overflow-hidden{
	overflow:hidden;
}

/* Attendees stricker */
.p-10{
	padding:10px;
}
.stricker-name{
	font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 46px;
}
.stricker-extra-info{
	font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 28px;
    word-break: break-all;
}
.stricker-thumbnail{
	margin: 10px;
}
/* Equal height cols */
.equal-height-col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.equal-height-col > .equal-items {
	display: flex;
	flex-direction: column;
}
.font-600{
	font-weight:600;
}
.min-height-400{
	height: 400px !important;
}
.attendeemove-popup .selected-event .chzn-container-single{
	width: 350px !important;
}
